<%= simple_form_for @product, url: {action: "create_product"} do |f| %> 
	<%= f.input :name, required: true %>
	<%= f.input :price %>
	<%= f.input :category_id, collection: @categories  %>
	<p><%= f.submit %></p>

	<% end %>